
<section class="landing-section bg-black w-screen h-screen text-center overflow-hidden relative" data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-32 text-[40px] font-medium">Experience Tesla</h2>
            <p class="text-white text-sm">Schedule a Demo Drive Today</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20" >
            <div>
                <a href="#" class="text-white text-sm border-[3px] border-white bg-white/5 backdrop-blur-sm hover:bg-white hover:text-black rounded px-24 py-2 inline-block">Demo Drive</a>
            </div>
        </footer>
    </div>


    <div class="absolute top-0 bottom-0 h-full flex flex-grow flex-wrap  z-10">
        <video class="object-center object-cover h-full" src="/media/video.webm" autoplay muted loop></video>
    </div>
</section>
