
<section class="bg-black w-screen h-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model 3</h2>
            <a href="#" class="text-black text-base underline">Lease from $429/mo</a>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20" >
            <div>
                <a href="#" class="text-white text-sm bg-black/80 backdrop-blur-sm rounded px-24 py-2 inline-block">Order Now</a>
                <a href="#" class="text-black text-sm bg-white/80 backdrop-blur-sm rounded px-24 py-2 inline-block">Demo Drive</a>
            </div>
        </footer>
    </div>


    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/img/model3.avif" alt="Model 3">
    </div>
</section>
